<div class="row">
	<div class="col-md-3 text-center event-sidebar">
		{{# featured_image }}
		<div>
			<img src="{{ featured_image }}" class="img-responsive img-thumbnail">
		</div>
		{{/ featured_image }}

		<div class="btn-group margin-top-med" id="s-lc-event-tool-btns">
			<a class="btn btn-default" href="#" onclick="window.print(); return false;" title="Print page" id="s-lc-event-b-p"><i class="fa fa-print fa-lg"></i></a>
			<a class="btn btn-default" href="{{ ical }}" title="Add to Calendar using iCal" id="s-lc-event-b-c"><i class="fa fa-calendar fa-lg"></i></a>
			<a class="btn btn-default" href="{{ facebook_url }}" title="Share on Facebook" id="s-lc-event-b-f" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>
			<a class="btn btn-default" href="{{ twitter_url }}" title="Share on Twitter" id="s-lc-event-b-t" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a>
		</div>
	</div>

	<div class="col-md-9 event-information">
		{{# description }}
		<div class="event-description">
			{{{ description }}}
		</div>
		{{/ description}}

		{{! come back to me! }}
		{{# series_datetimes }}
		<div class="row">
			<div class="col-md-2 s-lc-event-label">Dates &amp; Times:</div>
			<div class="col-md-10">{{{ series_datetimes }}}</div>
		</div>	
		{{/ series_datetimes }}

		{{# single_event }}
		<dl class="dl-horizontal">
			<dt>Date:</dt>
			<dd>{{ date }}</dd>

			<dt>Time:</dt>
			<dd>{{ start }} {{# end }} &ndash; {{ end }}{{/ end }}</dd>

			<dt>Location:</dt>
			<dd>{{ location }}</dd>

			{{# categories }}
			<dt>Categories:</dt>
				<dd>
					{{# categories_arr }}
					<span class="label" style="background-color:{{color}}">{{ name }}</span>
					{{/ categories_arr}}
				</dd>
			{{/ categories }}
		</dl>
		{{/ single_event }}

		{{! may have to return for cleanup }}
		{{# registration_form }}
		{{{ registration_form }}}
		{{/ registration_form }}

		{{# reg_expired }}
		<div class="row margin-top-med">
			<div class="col-md-2 s-lc-event-label"></div>
			<div class="col-md-5"><div class="alert alert-warning">{{ reg_expired }}</div></div>
		</div>
		{{/ reg_expired }}

		{{# reg_expired_series }}
		<div class="row margin-top-med">
			<div class="col-md-2 s-lc-event-label"></div>
			<div class="col-md-5"><div class="alert alert-warning">{{ reg_expired_series }}</div></div>
		</div>
		{{/ reg_expired_series }}

		{{# reg_early }}
		<div class="row margin-top-med">
			<div class="col-md-2 s-lc-event-label"></div>
			<div class="col-md-5"><div class="alert alert-info">{{ reg_early }}</div></div>
		</div>
		{{/ reg_early }}
	</div>
</div>
